/* Space out content a bit */
body, html {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F4F4F4;
  font-size: 12px;
  font-family: 'Gotham',sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.01em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  color: #777;
}

/* Customize container */
@media (min-width: 768px) {
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.mapdiv {
  text-align: center;
  background-color: #F4F4F4;
  padding-bottom: 0px;
}

md-content.md-default-theme, md-content {
  background: #F4F4F4;
}

input[type="text"] {
  text-align: center;
  padding-left: 10px; 
}

.lead {
  margin-bottom: 0px;
}

.datamap {
  position: relative;
  display: block;
  padding-bottom: 0px;
}

svg:not(:root) {
  margin-left: auto;
  margin-right: auto;
}

.stat {
  padding-left:5em;
  padding-right:5em;
}