<div class="mapdiv">
  <md-content style="margin: 16px; padding:16px">
    <div layout>
      <div flex="10" layout layout-align="center center">
        <md-button class="md-fab md-primary" aria-label="Use Android" ng-click="startPlayback()" ng-disabled="inProgress === true">
          <i class="material-icons md-48 md-light">play_arrow</i>
        </md-button>
      </div>
      <div flex="15" layout layout-align="center center">
        <span class="md-body-1">{{data.displayDate}}</span>
      </div>
      <div flex layout layout-align="center center">
        <md-slider flex min="0" max="{{maxMonths}}" ng-model="data.numMonths" aria-label="blue" id="blue-slider" class="md-primary" ng-change="refreshMap(data.numMonths)" step="3" ng-disabled="inProgress === true"></md-slider>
      </div>
    </div>
  </md-content>
  <div layout="column" layout-xs="row" layout-sm="row" class="narrow">
    <div flex layout="row" layout-xs="column" layout-sm="column">
      <md-card flex>
        <div flex layout="row" layout-align="centre centre" class="blue-card">
          <div flex><i class="material-icons big-icon blue">public</i></md-icon></div>
          <div flex>COUNTRIES VISITED:</div>
          <div flex class="big-number blue">{{data.totalCountries}}</div>
        </div>
      </md-card>
      <md-card flex>
        <div flex layout="row" layout-align="centre centre" class="blue-card">
          <div flex><i class="material-icons big-icon blue">beenhere</i></md-icon></div>
          <div flex>TRIPS:</div>
          <div flex class="big-number blue">{{data.totalVisits}}</div>
        </div>
      </md-card>
      <md-card flex>
        <div flex layout="row" layout-align="centre centre" class="blue-card">
          <div flex><i class="material-icons big-icon blue">today</i></md-icon></div>
          <div flex>DAYS TRAVELLED:</div>
          <div flex class="big-number blue">{{data.totalDays}}</div>
        </div>
      </md-card>
    </div>
    <div flex layout="row" layout-xs="column" layout-sm="column">
      <md-card flex>
        <div flex layout="row" layout-align="centre centre" class="blue-card">
          <div flex><i class="material-icons big-icon blue">swap_calls</i></md-icon></div>
          <div flex>AIR MILES ('000):</div>
          <div flex class="big-number blue">{{data.totalMiles}}</div>
        </div>
      </md-card>
      <md-card flex>
        <div flex layout="row" layout-align="centre centre" class="blue-card">
          <div flex><i class="material-icons big-icon blue">flight_takeoff</i></md-icon></div>
          <div flex>FLIGHTS:</div>
          <div flex class="big-number blue">{{data.totalFlights}}</div>
        </div>
      </md-card>
      <md-card flex>
        <div flex layout="row" layout-align="centre centre" class="blue-card">
          <div flex><i class="material-icons big-icon blue">timer</i></md-icon></div>
          <div flex>HOURS ON A PLANE:</div>
          <div flex class="big-number blue">{{data.totalFlightHours}}</div>
        </div>
      </md-card>
    </div>
  </div>
  <p class="lead">
    <datamap map="mapObject"></datamap>
  </p>
</div>
